{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline("Edit profile") }}

	{% include "parts/flash.html.twig" %}

	<form action="{{ path("qpost_settings_profileappearance") }}" method="post">
		{% include "parts/csrf.html.twig" %}

		<div class="mb-4">
			<div class="form-group">
				<label for="displayName">Display name</label>
				<input type="text" class="form-control" id="displayName" name="displayName"
					   value="{{ app.user.displayName }}" min="1" maxlength="24" required/>
			</div>
		</div>

		<div class="mb-4">
			<div class="form-group">
				<label for="bio">Biography</label>
				<textarea type="text" class="form-control" id="bio" name="bio"
						  style="resize: none !important; height: 120px !important;"
						  maxlength="200">{{ app.user.bio }}</textarea>
			</div>
		</div>

		<div class="mb-4">
			<div class="form-group">
				<label for="birthday">Birthday</label>

				<input type="hidden" name="birthday" value="{{ app.user.birthday ? app.user.birthday|date("Y-m-d") }}"/>

				<div id="birthdaySelector"></div>
			</div>
		</div>

		<div class="mb-4">
			<div class="form-group">
				<label for="avatar">Avatar</label>

				<input type="hidden" name="avatar" value="{{ app.user.avatar }}"/>

				<div id="avatarSelector"></div>
			</div>
		</div>

		<div class="mb-4">
			<div class="form-group">
				<label for="header">Header</label>

				<input type="hidden" name="header" value="{{ app.user.header }}"/>

				<div id="headerSelector"></div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary btn-block bootstrapButton">
			Save changes
		</button>
	</form>

	<hr class="settingsHeadlineSeparator mt-5"/>

	<div class="mb-4">
		<p class="mb-0 font-weight-bold">Delete your account</p>
		<p class="mb-0 text-muted"><a href="{{ path("qpost_settings_accountdelete") }}">Click here</a> if you wish to
			delete your account.</p>
	</div>
{% endblock %}