{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.account.privacy.headline")) }}

	{% include "parts/flash.html.twig" %}

	<form action="{{ currentPath() }}" method="post">
		{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}

		<b>{{ __("settings.account.privacy.level") }}</b>
		<p class="small text-muted">{{ __("settings.account.privacy.level.description") }}</p>

		<div class="custom-control custom-radio">
			<input type="radio" id="privacyLevelPublic" name="privacyLevel" class="custom-control-input"
				   value="PUBLIC" {{ app.user.privacyLevel == "PUBLIC" ? "checked" }}/>
			<label class="custom-control-label" for="privacyLevelPublic">
				<b>{{ __("settings.account.privacy.level.public") }}</b><br/>
				<p class="small text-muted">{{ __("settings.account.privacy.level.public.description") }}</p>
			</label>
		</div>

		<div class="custom-control custom-radio">
			<input type="radio" id="privacyLevelPrivate" name="privacyLevel" class="custom-control-input"
				   value="PRIVATE" {{ app.user.privacyLevel == "PRIVATE" ? "checked" }}/>
			<label class="custom-control-label" for="privacyLevelPrivate">
				<b>{{ __("settings.account.privacy.level.private") }}</b><br/>
				<p class="small text-muted">{{ __("settings.account.privacy.level.private.description") }}</p>
			</label>
		</div>

		<div class="custom-control custom-radio">
			<input type="radio" id="privacyLevelClosed" name="privacyLevel" class="custom-control-input"
				   value="CLOSED" {{ app.user.privacyLevel == "CLOSED" ? "checked" }}/>
			<label class="custom-control-label" for="privacyLevelClosed">
				<b>{{ __("settings.account.privacy.level.closed") }}</b><br/>
				<p class="small text-muted">{{ __("settings.account.privacy.level.closed.description") }}</p>
			</label>
		</div>

		<button type="submit" class="btn btn-primary btn-block bootstrapButton">
			{{ __("button.saveChanges") }}
		</button>
	</form>
{% endblock %}