{% extends "homeBase.html.twig" %}

{% block content %}
	<div class="homeWaveBackground py-5" style="background-position: center -320px">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 text-center offset-md-2">
					<p class="downloadMainHeadline">{{ "landing.download.windows.headline"|trans }}</p>

					<a class="btn btn-light btn-lg downloadPageMainButton clearUnderline"
					   href="{{ path("qpost_download_windows") }}">
						{{ "landing.download.windows.button"|trans }}
					</a>

					<p class="small text-muted mb-0">{{ "landing.download.windows.requirements"|trans }}</p>
				</div>

				<div class="col-md-4 downloadPageMainImageContainer">
					<img src="/assets/img/download-windows-screenshot.png" alt="Window Screenshot"
						 class="downloadPageMainImage"/>
				</div>
			</div>
		</div>
	</div>

	<div class="homeHighlighted py-5">
		<div class="container">
			<p class="mb-5 text-white text-center">
				{{ "landing.download.browserInfo"|trans }}
			</p>

			<div class="row text-center">
				<div class="col-12 col-sm-6 col-md-3 offset-md-3 mb-3">
					<a href="{{ path("qpost_download_android") }}" class="clearUnderline">
						<div class="card bg-primary text-white">
							<div class="card-body">
								<h3 class="display-3 text-white"><i class="fab fa-android"></i></h3>

								<p class="mb-0 font-weight-bold">Android</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-sm-6 col-md-3 mb-3">
					<a href="#" class="clearUnderline" onclick="event.preventDefault();">
						<div class="card bg-primary text-white" style="opacity: .5;">
							<div class="card-body">
								<h3 class="display-3 text-white"><i class="fab fa-apple"></i></h3>

								<p class="mb-0 font-weight-bold">iOS <span
											class="small text-muted text-uppercase">{{ "landing.download.ios.soon"|trans }}</span>
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="py-5 text-center">
		<a class="btn btn-light btn-lg downloadPageMainButton clearUnderline"
		   href="https://gitlab.com/Gigadrive/qpost" target="_blank">
			{{ "landing.download.sourceCode"|trans }}
		</a>
	</div>
{% endblock %}