{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			{% if successMsg is defined and successMsg %}
				{{ createAlert("successMsg",successMsg,"success") }}
			{% endif %}

			{% if errorMsg is defined and errorMsg %}
				{{ createAlert("errorMsg",errorMsg,"danger") }}
			{% endif %}
			<div class="card">
				<div class="card-body">
					<h3 class="text-center mb-2">Register</h3>

					<form action="/register?code={{ sanatizeHTMLAttribute(_GET["code"]) }}" method="post">
						{{ insertCSRF() }}

						<input type="text" class="form-control mb-2" name="email"
							   placeholder="Email address"{{ email is defined ? (' value="'~sanatizeHTMLAttribute(email)~'"')|raw }}/>

						<input type="text" class="form-control mb-2" name="username"
							   placeholder="Username"{{ username is defined ? (' value="'~sanatizeHTMLAttribute(username)~'"')|raw }}/>

						<input type="submit" class="btn btn-block btn-primary" value="Create account"/>
					</form>
				</div>
			</div>
			<?php } ?>
		</div>
	</div>
{% endblock %}