{% extends "homeBase.html.twig" %}

{% block content %}
	<div class="container my-5">
		<h1 class="text-white mb-3">Terms of Service</h1>

		<p>
			The qpost User Agreement consists of these <a href="{{ path("qpost_redirect_terms") }}">Terms of Service</a>,
			the <a href="{{ path("qpost_redirect_privacy") }}">Privacy Policy</a>, the <a
					href="{{ path("qpost_redirect_rules") }}">qpost Rules and Guidelines</a> and all incorporated
			policies.
		</p>

		<p>
			These Terms of Service ("Terms") govern your access and use of our services, including all websites, APIs,
			emails, apps, buttons and any other services that link to these terms ("Services") and any information,
			links,
			photos, videos, audio or other materials appearing on the Services ("Content"). By using the Services you
			agree
			to these Terms.
		</p>

		<hr/>

		<h2 class="text-white mb-3">1. Who Is Allowed to Use the Services</h2>

		<p>
			You are only allowed to utilize the Services by agreeing to form a binding contract with Gigadrive and are
			allowed to receive the Services under the laws of the applicable jurisdiction. You have to be at least 13
			years
			old to use the Services. In the case of utilizing the Services on behalf of a company, government,
			organization
			or other legal entity, you represent that you are authorized to do so and are authorized to bind said entity
			to
			these Terms, in which case the words "you" and "your" in these Terms refer to such entity.
		</p>

		<h2 class="text-white mb-3">2. Content</h2>

		<p>
			You are entirely responsible for the usage and sharing of any Content you provide to the Services, including
			compliance of applicable laws and regulations.
		</p>

		<p>
			Usage of any Content shared on the Services occurs at your own risk. We do not endore, represent or
			guarantee
			the truthfulness, accuracy or reliability of any Content posted via the Services including, but not limited
			to
			any statements and opinions. By using the Services you understand and consent, that you may be exposed to
			potentially harmful, inaccurate or in any other way inappropriate Content. Any Content is the responsibility
			of
			the person who originated it. We may not monitor or control the Content posted and will not take
			responsibility
			for it.
		</p>

		<p>
			Gigadrive reserves the right to remove any Content from the Services, especially should they violate any
			laws or
			regulations or contain impersonation or harassment. If and when any Content is removed by Gigadrive is the
			sole
			decision of Gigadrive.
		</p>

		<p>
			If you believe that your Content has been copied and posted on the Services, please contact us at:<br/><br/>
			Gigadrive<br/>
			Mühlenstr. 8a<br/>
			14167 Berlin<br/>
			Germany<br/>
			Email: <a href="mailto:support@gigadrivegroup.com">support@gigadrivegroup.com</a>
		</p>

		<h2 class="text-white mb-3">3. Privacy</h2>

		<p>
			Our Privacy Policy document (<a href="{{ path("qpost_redirect_privacy") }}" target="_blank">https://qpo.st/privacy</a>)
			describes how the information you provide to us is being handled and utilized. Through the use of the
			Services
			you understand and consent to the use of this information, including the transfer of this information to
			other
			countries for storage and processing by Gigadrive and its affiliates.
		</p>

		<h2 class="text-white mb-3">4. Usage</h2>

		<p>
			Please review the <a href="{{ path("qpost_redirect_rules") }}">qpost Rules and Guidelines</a>, which are
			part of
			the User Agreement and outline what is prohibited on the Services. You may use the Services only in
			complicance
			with these Terms and all applicable laws and regulations.
		</p>

		<p>
			The Services always change and evolve and we may stop (permanently or temporarily) providing the Services or
			any
			features within to you or users in general. We also retain the right to create limits on use and storage at
			our
			sole discretion at any time. We may also remove or refuse to distribute any Content on the Services, suspend
			or
			terminate users and reclaim usernames without liability to you.
		</p>

		<p>
			In exchange for Gigadrive offering and granting access to utilize the Services, you agree that Gigadrive, as
			well as third-party providers and partners may place advertising on the Services.
		</p>

		<p>
			You agree not to misuse our Services in any harmful or inappropriate way.
		</p>

		<h3 class="text-white mb-3">4.1 Your Account</h3>

		<p>
			The creation of an account may be necessary to utilize some of the Services. You are resposible for guarding
			your account by choosing a strong password and taking other measurements to prevent unauthorized access to
			your
			account. We will not be liable for any damages that occur from your failure to keep your account safe.
		</p>

		<p>
			You are able to control most communications from the Services. We may need to provide you with certain
			notifications and communications, like important announcements. These communications are considered part of
			the
			Services and may not be disabled, neither are you allowed to opt-out from receiving them.
		</p>

		<h3 class="text-white mb-3">4.2 Your License</h3>

		<p>
			You are given a free, personal, worldwide, non-assignable and non-exclusive license to use the software
			provided
			to you by Gigadrive as part of the Services. This license serves the purpose of enabling you to utilize the
			Services and their benefits as provided by Gigadrive.
		</p>

		<p>
			The Services are protected by trademark, copyright and other laws of Germany and foreign countries. These
			Terms
			do not give you a right to use the Gigadrive name or any other Gigadrive trademarks, domain names, logos or
			other brand features.
		</p>

		<h3 class="text-white mb-3">4.3 Ending These Terms</h3>

		<p>
			You may end your legal agreement with Gigadrive at any time by deleting your account.
		</p>

		<p>
			We may suspend or terminate your account or cease providing you with all or part of the Services at any
			time,
			should we find a violation of this agreement. We will attempt to notify you in this case, but can not
			guarantee
			an arrival of this notification in case of an outage or other events that may prevent the arrival of said
			notification. The Terms shall terminate, including but not limited to your license to use the Services.
		</p>

		<h2 class="text-white mb-3">5. Disclaimer</h2>

		<p>
			Our Disclaimer document (<a href="{{ path("qpost_redirect_disclaimer") }}">https://qpo.st/disclaimer</a>)
			describes the state of availability of the Services, as well as the limitation of liability from Gigadrive.
			By
			accepting these Terms you understand and consent to the disclaimers mentioned in the Disclaimer document.
		</p>

		<h2 class="text-white mb-3">6. General</h2>

		<p>
			These Terms may be revised from time to time. The changes will not be retroactive and always be available at
			<a
					href="{{ path("qpost_redirect_terms") }}">https://go.qpo.st/terms</a>. We will attempt to notify you
			of
			these changes through the Services, but can not guarantee an arrival of this notification in case of an
			outage
			or other events that may prevent the arrival of said notification. You agree to be bound by the revised
			Terms,
			by using the Services after the revision becomes active.
		</p>

		<p>
			The laws of the Federal Republic of Germany (excluding its choice of law provisions) will govern these Terms
			and
			any dispute that arises between you and Gigadrive. All disputes related to these Terms or the Services will
			be
			brought solely in the federal or state courts located in Germany and you consent to personal jurisdiction
			and
			waive any objection as to inconvenient forum.
		</p>

		<p>
			These Terms are an agreement between you and Gigadrive, Mühlenstr. 8a 14167 Berlin, Germany. If you have any
			questions, please <a href="{{ path("qpost_redirect_contact") }}" target="_blank">contact us</a>.
		</p>

		<p>
			<b>These Terms are effective starting November 3rd, 2019</b>.
		</p>
	</div>
{% endblock %}