{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.account.delete.headline")) }}

	{% include "parts/flash.html.twig" %}

	<div class="text-center my-3">
		<div>
			<img src="{{ app.user.avatarURL }}" class="rounded border-mainColor" width="128" height="128"
				 alt="{{ app.user.username }}"/>
		</div>

		<p class="mb-0 font-weight-bold">{{ app.user.displayName }}</p>
		<p class="mb-0 text-muted small">@{{ app.user.username }}</p>
	</div>

	<p>
		<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.delete.line1") }}
		<br/>
		<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.delete.line2") }}
		<br/>
		<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.delete.line3") }}
		<br/>
		<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.delete.line4") }}
	</p>

	<form action="{{ currentPath() }}" method="post">
		{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}

		<div class="form-group">
			<input type="password" class="form-control" id="password" name="password"
				   placeholder="{{ __("settings.account.delete.passwordPlaceholder") }}"/>
		</div>

		<button type="submit" class="btn btn-danger btn-block">
			{{ __("settings.account.delete.submit") }}
		</button>
	</form>
{% endblock %}