{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.account.information.headline")) }}

	{% include "parts/flash.html.twig" %}

	<div class="row">
		<div class="col-md-6">
			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.username") }}</p>

				<div>
					@{{ app.user.username }}

					<a class="float-right"
					   href="{{ path("qpost_settings_accountusername") }}">{{ __("settings.account.information.username.change") }}</a>
				</div>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.email") }}</p>

				<div>
					{{ app.user.email }}
				</div>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.dateJoined") }}</p>

				<div>
					{{ app.user.time|date("F jS, Y h:i:s A") }} UTC
				</div>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.dateOfBirth") }}</p>

				<div>
					{{ app.user.birthday ? app.user.birthday|date("F jS, Y") : "N/A" }}

					<a class="float-right"
					   href="{{ path("qpost_settings_profileappearance") }}">{{ __("settings.account.information.username.change") }}</a>
				</div>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.id") }}</p>

				<div>
					#{{ app.user.id }}
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.followers") }}</p>

				<a href="{{ path("qpost_settings_relationshipsfollowers") }}">
					{{ __("settings.account.information.viewAll") }}
				</a>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.following") }}</p>

				<a href="{{ path("qpost_settings_relationshipsfollowing") }}">
					{{ __("settings.account.information.viewAll") }}
				</a>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.favorited") }}</p>

				<a href="{{ path("qpost_page_profile_favorites", {"username": app.user.username}) }}">
					{{ __("settings.account.information.viewAll") }}
				</a>
			</div>

			<div class="mb-3">
				<p class="mb-0 font-weight-bold">{{ __("settings.account.information.blocked") }}</p>

				<a href="{{ path("qpost_settings_relationshipsblocked") }}">
					{{ __("settings.account.information.viewAll") }}
				</a>
			</div>
		</div>
	</div>

	<hr class="settingsHeadlineSeparator mt-5"/>

	<div class="mb-4">
		<p class="mb-0 font-weight-bold"><a
					href="{{ path("qpost_settings_accountdelete") }}">{{ __("settings.account.delete.headline") }}</a>
		</p>
		<p class="mb-0 text-muted">{{ __("settings.account.information.delete") }}</p>
	</div>
{% endblock %}