{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.account.username.headline")) }}

	{% include "parts/flash.html.twig" %}

	<p>
		<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.username.cooldownInfo") }}
		{% if app.user.verified %}
			<br/>
			<i class="fas fa-info-circle iconMargin-10 text-info"></i>{{ __("settings.account.username.verificationInfo") }}
			<br/>
		{% endif %}
	</p>

	<form action="{{ currentPath() }}" method="post">
		{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">@</span>
				</div>

				<input type="text" class="form-control" id="username" name="username" value="{{ app.user.username }}"/>
			</div>
		</div>

		<button type="submit" class="btn btn-primary btn-block bootstrapButton">
			{{ __("button.saveChanges") }}
		</button>
	</form>
{% endblock %}