{% set post = notification is defined and notification ? getEntryById(notification.post) %}
{% set u = post is defined and post ? post.user %}

{% if u %}
	<div class="small text-muted">
		<i class="fas fa-at text-blue"></i> <a href="/{{ u.username }}"
											   class="clearUnderline ignoreParentClick convertEmoji"><img
					src="{{ u.avatarUrl }}" width="16" height="16"/> {{ u.displayName~u.renderCheckMark|raw }}</a>
		mentioned you &bull; {{ timeago(notification.time) }}
	</div>

	<hr/>

	{{ post.toListHTML|raw }}
{% endif %}