{% set post = notification is defined and notification ? notification.post %}
{% set u = notification.follower %}

{% if u %}
	<div class="small text-muted">
		<i class="fas fa-share-alt text-blue"></i> <a href="/{{ u.username }}"
													  class="clearUnderline ignoreParentClick convertEmoji"><img
					src="{{ u.avatarUrl }}" width="16" height="16"/> {{ u.displayName~u.renderCheckMark|raw }}</a>
		shared your post &bull; {{ timeago(notification.time) }}
	</div>

	<hr/>

	{{ post.toListHTML|raw }}
{% endif %}