{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<form action="/search" method="get">
				<div class="input-group input-group-lg">
					<input autofocus class="form-control" name="query" value="{{ query is defined and query ? query }}"
						   placeholder="Search {{ siteName }}" type="text"/>

					<div class="input-group-append">
						<button class="btn btn-primary px-4" type="submit"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% if query is defined and query %}
	<nav class="nav nav-pills nav-justified my-3">
		<a class="nav-item nav-link{{ type is defined and type == "posts" ? " active" }}"
		   href="/search?query={{ query|url_encode }}&type=posts">Posts</a>
		<a class="nav-item nav-link{{ type is defined and type == "users" ? " active" }}>"
		   href="/search?query={{ query|url_encode }}&type=users">Users</a>
	</nav>

	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			{% block searchResults %}{% endblock %}
		</div>
	</div>
	{% elseif %}
{% endblock %}