{% extends "settings/base.html.twig" %}
{% import "settings/macro.html.twig" as macro %}

{% block content %}
	{{ macro.settingsHeadline(__("settings.preferences.appearance.headline")) }}

	{% include "parts/flash.html.twig" %}

	<form action="{{ currentPath() }}" method="post">
		{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}

		<div class="mb-4">
			<label for="languageSelector">{{ __("settings.preferences.appearance.interfaceLanguage") }}</label>
			<select class="custom-select" id="languageSelector" name="language">
				{% for code,name in availableLanguages %}
					<option value="{{ code }}"{{ code == currentLanguage ? " selected" }}>{{ name }}</option>
				{% endfor %}
			</select>

			<p class="mb-0 mt-2 font-weight-bold">
				<a href="https://crowdlate.net/organization/gigadrive/qpost" target="_blank" rel="noopener">
					{{ __("settings.preferences.appearance.translationInfo") }}
				</a>
			</p>
		</div>

		<div class="mb-4">
			{{ macro.settingsHeadlineSmall(__("settings.preferences.appearance.display")) }}

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="nightMode"
					   name="nightMode"{{ app.user.appearanceSettings.nightMode ? "checked" }}/>
				<label class="custom-control-label" for="nightMode">
					<b>{{ __("settings.preferences.appearance.display.nightMode") }}</b>
				</label>
			</div>

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="autoplayGifs"
					   name="autoplayGifs"{{ app.user.appearanceSettings.autoplayGifs ? "checked" }}/>
				<label class="custom-control-label" for="autoplayGifs">
					<b>{{ __("settings.preferences.appearance.display.autoplayGifs") }}</b>
				</label>
			</div>
		</div>

		<div class="mb-4">
			{{ macro.settingsHeadlineSmall(__("settings.preferences.appearance.discovery")) }}

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="showTrends"
					   name="showTrends" {{ app.user.appearanceSettings.showTrends ? "checked" }}/>
				<label class="custom-control-label" for="showTrends">
					<b>{{ __("settings.preferences.appearance.discovery.showTrends") }}</b>
				</label>
			</div>

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="showSuggestedUsers"
					   name="showSuggestedUsers" {{ app.user.appearanceSettings.showSuggestedUsers ? "checked" }}/>
				<label class="custom-control-label" for="showSuggestedUsers">
					<b>{{ __("settings.preferences.appearance.discovery.showSuggestedUsers") }}</b>
				</label>
			</div>

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="showBirthdays"
					   name="showBirthdays" {{ app.user.appearanceSettings.showBirthdays ? "checked" }}/>
				<label class="custom-control-label" for="showBirthdays">
					<b>{{ __("settings.preferences.appearance.discovery.showBirthdays") }}</b>
				</label>
			</div>
		</div>

		<div class="mb-4">
			{{ macro.settingsHeadlineSmall(__("settings.preferences.appearance.matureContent")) }}

			<div class="custom-control custom-checkbox mb-3">
				<input type="checkbox" class="custom-control-input" id="showMatureWarning"
					   name="showMatureWarning" {{ app.user.appearanceSettings.showMatureWarning ? "checked" }}/>
				<label class="custom-control-label" for="showMatureWarning">
					<b>{{ __("settings.preferences.appearance.matureContent.showMatureWarning") }}</b>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-primary btn-block bootstrapButton">
			{{ __("button.saveChanges") }}
		</button>
	</form>
{% endblock %}