{% extends "homeBase.html.twig" %}

{% block content %}
	<div class="homeWaveBackground">
		<div class="container mt-5">
			<div class="text-center">
				<h1 class="homeDescriptionText">
					{{ "landing.home.headline"|trans }}
				</h1>

				<h2 class="homeDescriptionText">
					{{ "landing.home.subtitle.1"|trans }}<br/>
					{{ "landing.home.subtitle.2"|trans }}
				</h2>

				<div class="homeDownloadButton">
					<a href="{{ path("qpost_download_index") }}" class="btn btn-light px-3 py-2 bootstrapButton">
						{{ "landing.home.downloadButton"|trans }}
					</a>
				</div>

				<div class="homeLoginButton">
					<a href="{{ path("qpost_login_index") }}" class="btn btn-primary px-3 py-2 bootstrapButton">
						{{ "landing.home.loginButton"|trans }}
					</a>
				</div>
			</div>

			<div class="homeRegisterBoxContainer">
				<div class="homeLeftBox">
					<img src="/assets/img/hand.png" alt="qpost Smartphone View"
						 style="max-height: 550px; max-width: 100%"/>
				</div>

				<div class="homeRegisterBox">
					<div class="homeRegisterBoxContent">
						<div class="alert alert-danger" role="alert">
							qpost is shutting down on June 1st, 2022. New registrations have been disabled. Read more <a href="https://zeryther.com/2022/05/03/notice-of-service-shutdown-qpost/" target="_blank">here</a>.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="homeHighlighted py-5">
		<div class="container">
			<div class="homeFeatureList">
				<div class="row">
					<div class="col-12 col-lg-6 offset-lg-3">
						<div class="feature">
							<div class="icon left">
								<i class="fas fa-feather-alt"></i>
							</div>

							<div class="description right">
								<p class="headline">{{ "landing.home.feature.1.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.1.description"|trans }}
								</p>
							</div>
						</div>

						<div class="feature">
							<div class="icon right">
								<i class="fas fa-reply"></i>
							</div>

							<div class="description">
								<p class="headline">{{ "landing.home.feature.2.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.2.description"|trans }}
								</p>
							</div>
						</div>

						<div class="feature">
							<div class="icon left">
								<i class="fas fa-code-branch"></i>
							</div>

							<div class="description right">
								<p class="headline">{{ "landing.home.feature.3.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.3.description"|trans }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}