{% extends "homeBase.html.twig" %}

{% block content %}
	<div class="homeWaveBackground">
		<div class="container mt-5">
			<div class="text-center">
				<h1 class="homeDescriptionText">
					{{ "landing.home.headline"|trans }}
				</h1>

				<h2 class="homeDescriptionText">
					{{ "landing.home.subtitle.1"|trans }}<br/>
					{{ "landing.home.subtitle.2"|trans }}
				</h2>

				<div class="homeDownloadButton">
					<a href="{{ path("qpost_download_index") }}" class="btn btn-light px-3 py-2 bootstrapButton">
						{{ "landing.home.downloadButton"|trans }}
					</a>
				</div>

				<div class="homeLoginButton">
					<a href="{{ path("qpost_login_index") }}" class="btn btn-primary px-3 py-2 bootstrapButton">
						{{ "landing.home.loginButton"|trans }}
					</a>
				</div>
			</div>

			<div class="homeRegisterBoxContainer">
				<div class="homeLeftBox">
					<img src="/assets/img/hand.png" alt="qpost Smartphone View"
						 style="max-height: 550px; max-width: 100%"/>
				</div>

				<div class="homeRegisterBox">
					<div class="homeRegisterBoxContent">
						<div class="text-center">
					<span class="hline">Join<img src="/assets/img/qpost-blue-tiny.png" alt="qpost Logo"
												 title="qpost Logo"/></span>
						</div>

						<form class="mt-3" method="post" action="/">
							{% include "@GigadriveSymfonyExtensions/csrf.html.twig" %}
							{% include "parts/flash.html.twig" %}

							<input type="email" class="form-control mb-2" name="email"
								   placeholder="{{ "landing.home.register.email"|trans }}"/>
							<input type="text" class="form-control mb-2" name="displayName"
								   placeholder="{{ "landing.home.register.displayName"|trans }}"/>
							<input type="text" class="form-control mb-2" name="username"
								   placeholder="{{ "landing.home.register.username"|trans }}"/>
							<input type="password" class="form-control mb-2" name="password"
								   placeholder="{{ "landing.home.register.password"|trans }}"/>

							<hr/>

							<input type="submit" class="btn btn-primary btn-block bootstrapButton"
								   value="{{ "landing.home.register.submit"|trans }}"/>

							<div class="homeLoginOr small text-center mb-3 mt-1">{{ "landing.home.register.or"|trans }}</div>

							<a href="{{ path("qpost_login_gigadrive") }}"
							   class="btn btn-success btn-block">{{ "landing.home.register.gigadriveSignIn"|trans }}</a>

							<p class="small mt-3 mb-0 text-muted">
								{{ "landing.home.register.terms"|trans({
									"%1%": '<a href="' ~ path("qpost_redirect_terms") ~ '">',
									"%2%": '</a>'
								})|raw }}
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="homeHighlighted py-5">
		<div class="container">
			<div class="homeFeatureList">
				<div class="row">
					<div class="col-12 col-lg-6 offset-lg-3">
						<div class="feature">
							<div class="icon left">
								<i class="fas fa-feather-alt"></i>
							</div>

							<div class="description right">
								<p class="headline">{{ "landing.home.feature.1.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.1.description"|trans }}
								</p>
							</div>
						</div>

						<div class="feature">
							<div class="icon right">
								<i class="fas fa-reply"></i>
							</div>

							<div class="description">
								<p class="headline">{{ "landing.home.feature.2.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.2.description"|trans }}
								</p>
							</div>
						</div>

						<div class="feature">
							<div class="icon left">
								<i class="fas fa-code-branch"></i>
							</div>

							<div class="description right">
								<p class="headline">{{ "landing.home.feature.3.headline"|trans }}</p>

								<p class="text">
									{{ "landing.home.feature.3.description"|trans }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mb-5">
		<div class="homeSponsors">
			<h4>{{ "landing.home.sponsors.headline"|trans }}</h4>

			<div class="mt-3">
				<a href="https://about.gitlab.com" class="clearUnderline" target="_blank" rel="noreferrer noopener">
					<img src="/assets/img/gitlab-logo-white-rgb.png" alt="GitLab" title="GitLab" height="60"/>
				</a>

				<a href="https://www.jetbrains.com" class="clearUnderline" target="_blank" rel="noreferrer noopener">
					<img src="/assets/img/jetbrains.png" alt="GitLab" title="GitLab"/>
				</a>
			</div>
		</div>
	</div>
{% endblock %}