{% extends "emptyBase.html.twig" %}

{% block additionalHtmlClasses %}settingsPage{% endblock %}

{% block body %}
	<div class="identifier--forceDayMode"></div> {# <-- DISABLES NIGHTMODE #}

	<div class="homeBase">
		<div class="container pt-3">
			<div class="homeNav">
				<div class="logo">
					<a href="{{ path("qpost_home_index") }}" class="clearUnderline">
						<img src="/assets/img/qpost-white-tiny.png" alt="qpost Logo" title="qpost Logo"/>
					</a>
				</div>

				<div class="navPoints">
					<a href="{{ path("qpost_about_about") }}"
					   class="btn btn-link text-white mb-2 mr-3">{{ "landing.navigation.about"|trans }}</a>

					<a href="{{ path("qpost_download_index") }}"
					   class="btn btn-link text-white mb-2 mr-3">{{ "landing.navigation.download"|trans }}</a>

					<a href="https://gigadrivegroup.com/advertise" target="_blank"
					   class="btn btn-link text-white mb-2 mr-3">{{ "landing.navigation.advertise"|trans }}</a>

					<a href="{{ path("qpost_login_index") }}"
					   class="btn btn-link text-white mb-2">{{ "landing.navigation.login"|trans }}</a>
				</div>
			</div>
		</div>

		{% block content %}

		{% endblock %}
	</div>

	<div class="homeFooter">
		<div class="container container-fluid">
			<div class="row">
				<div class="column">
					<p class="headline">{{ "landing.footer.product"|trans }}</p>

					<ul>
						<li>
							<a href="{{ path("qpost_download_index") }}">{{ "landing.footer.product.download"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_home_index") }}">{{ "landing.footer.product.register"|trans }}</a>
						</li>

						<li>
							<a href="https://status.gigadrivegroup.com"
							   target="_blank">{{ "landing.footer.product.status"|trans }}</a>
						</li>

						<li>
							<a href="mailto:support@gigadrivegroup.com">{{ "landing.footer.product.support"|trans }}</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">{{ "landing.footer.developers"|trans }}</p>

					<ul>
						<li>
							<a href="{{ path("qpost_apidocs_index") }}">{{ "landing.footer.developers.apidocumentation"|trans }}</a>
						</li>

						<li>
							<a href="https://gitlab.com/Gigadrive/qpost">{{ "landing.footer.developers.sourcecode"|trans }}</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">{{ "landing.footer.company"|trans }}</p>

					<ul>
						<li>
							<a href="{{ path("qpost_about_about") }}">{{ "landing.footer.company.about"|trans }}</a>
						</li>

						<li>
							<a href="#"
							   onclick="event.preventDefault();">{{ "landing.footer.company.branding"|trans }}</a> <span
									class="text-muted">({{ "landing.footer.company.branding.underconstruction"|trans }})</span>
						</li>

						<li>
							<a href="https://blog.gigadrivegroup.com"
							   target="_blank">{{ "landing.footer.company.blog"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_advertise") }}"
							   target="_blank">{{ "landing.footer.company.advertise"|trans }}</a>
						</li>

						<li>
							<a href="https://linkedin.com/company/qpost" target="_blank">LinkedIn</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">{{ "landing.footer.legal"|trans }}</p>

					<ul>
						<li>
							<a href="{{ path("qpost_redirect_contact") }}"
							   target="_blank">{{ "landing.footer.legal.contact"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_terms") }}">{{ "landing.footer.legal.terms"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_rules") }}">{{ "landing.footer.legal.rules"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_privacy") }}">{{ "landing.footer.legal.privacy"|trans }}</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_disclaimer") }}">{{ "landing.footer.legal.disclaimer"|trans }}</a>
						</li>
					</ul>
				</div>
			</div>

			<hr/>

			<div class="clearfix">
				<div class="left">
					&copy; 2018-{{ "now"|date("Y") }} Gigadrive
				</div>

				<div class="right">
					<a href="https://gigadrivegroup.com" target="_blank" class="clearUnderline">
						<img src="/assets/img/gigadrive-Logo-white-small.png" alt="Gigadrive" height="15"/>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}