{% extends "emptyBase.html.twig" %}

{% block additionalHtmlClasses %}settingsPage{% endblock %}

{% block body %}
	<div class="identifier--forceDayMode"></div> {# <-- DISABLES NIGHTMODE #}

	<div class="homeBase">
		<div class="container pt-3">
			<div class="homeNav">
				<div class="logo">
					<a href="{{ path("qpost_home_index") }}" class="clearUnderline">
						<img src="/assets/img/qpost-white-tiny.png" alt="qpost Logo" title="qpost Logo"/>
					</a>
				</div>

				<div class="navPoints">
					<a href="{{ path("qpost_page_about") }}" class="btn btn-link text-white mb-2 mr-3">about</a>

					<a href="{{ path("qpost_download_index") }}" class="btn btn-link text-white mb-2 mr-3">download</a>

					<a href="https://gigadrivegroup.com/advertise" target="_blank"
					   class="btn btn-link text-white mb-2 mr-3">advertise</a>

					<a href="{{ path("qpost_login_index") }}" class="btn btn-link text-white mb-2">log in</a>
				</div>
			</div>
		</div>

		<div class="container my-5">
			{% block content %}

			{% endblock %}
		</div>
	</div>

	<div class="homeFooter">
		<div class="container container-fluid">
			<div class="row">
				<div class="column">
					<p class="headline">Product</p>

					<ul>
						<li>
							<a href="{{ path("qpost_download_index") }}">Download</a>
						</li>

						<li>
							<a href="{{ path("qpost_home_index") }}">Register</a>
						</li>

						<li>
							<a href="https://status.gigadrivegroup.com">Status</a>
						</li>

						<li>
							<a href="mailto:support@gigadrivegroup.com">Support</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">Developers</p>

					<ul>
						<li>
							<a href="{{ path("qpost_apidocs_index") }}">API documentation</a>
						</li>

						<li>
							<a href="https://gitlab.com/Gigadrive/qpost">Source Code</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">Company</p>

					<ul>
						<li>
							<a href="{{ path("qpost_page_about") }}">About</a>
						</li>

						<li>
							<a href="#">Branding</a>
						</li>

						<li>
							<a href="https://blog.gigadrivegroup.com" target="_blank">Blog</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_advertise") }}" target="_blank">Advertise</a>
						</li>

						<li>
							<a href="https://linkedin.com/company/qpost" target="_blank">LinkedIn</a>
						</li>
					</ul>
				</div>

				<div class="column">
					<p class="headline">Legal</p>

					<ul>
						<li>
							<a href="{{ path("qpost_redirect_contact") }}" target="_blank">Contact Information</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_terms") }}">Terms</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_rules") }}">Rules &amp; Guidelines</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_privacy") }}">Privacy</a>
						</li>

						<li>
							<a href="{{ path("qpost_redirect_disclaimer") }}">Disclaimer</a>
						</li>
					</ul>
				</div>
			</div>

			<hr/>

			<div class="clearfix">
				<div class="left">
					&copy; 2018-{{ "now"|date("Y") }} Gigadrive
				</div>

				<div class="right">
					<a href="https://gigadrivegroup.com" target="_blank" class="clearUnderline">
						<img src="/assets/img/gigadrive-Logo-white-small.png" alt="Gigadrive" height="15"/>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}