{% extends "pages/mobile/base.html.twig" %}

{% block content %}
	<img src="/assets/img/qpost-white-small.png" height="60" alt="qpost" title="qpost Logo" class="logo"/>

	<form action="{{ path("qpost_login_index") }}" method="post" id="loginForm">
		{% include "parts/csrf.html.twig" %}
		<input type="text" class="form-control" name="email"
			   placeholder="Email address or username"
			   value="{{ _POST['email'] is defined ? _POST['email'] }}"/>
		<input type="password" class="form-control" name="password" placeholder="Password"/>
		<input type="submit" class="btn btn-block btn-primary" value="Log in"/>

		<a href="{{ path("qpost_resetpassword_index") }}" class="btn btn-block btn-light">Forgot your
			password?</a>

		<hr/>

		<div class="btn-group-vertical w-100">
			<a href="{{ path("qpost_home_index") }}" class="btn btn-block btn-light">Create an
				account</a>
			<a href="{{ path("qpost_login_gigadrive") }}" class="btn btn-block btn-success" data-no-instant>Sign
				in with
				Gigadrive</a>
		</div>
	</form>
{% endblock %}